{% extends 'app.html.twig' %}

{% block content %}
    <style>
        form {
            display: flex;
        }

        form .mb-3:first-of-type {
            margin-right: 10px;
        }
    </style>
    <div class="header mb-5">
        <h1>Delete {{ shop.name }}</h1>
    </div>
    <div class="mb-3">
        Are you sure you want to delete {{ shop.name }}?
    </div>
    {{ form_start(shopForm) }}
    <div class="mb-3"><a href="{{ path('app_shop') }}" class="btn btn-lg btn-success">cancel</a></div>
    {{ form_end(shopForm) }}
{% endblock %}