{% extends 'app.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block content %}
    <style>
        table {
            width: 100%;
        }
    </style>
    <div class="header mb-5">
        <h1>Shops</h1>
        <a href="{{ path('app_shop_create') }}" class="btn btn-primary">create shop</a>
    </div>
    <div class="shop-list">
        {% if shops|length > 0 %}
        <table>
            <tr>
                <th>Name</th>
                <th>Url</th>
                <th>Request Count</th>
                <th>Request Limit</th>
                <th>Actions</th>
            </tr>
            {% for shop in shops %}
                <tr>
                    <td>{{ shop.name }}</td>
                    <td><a target="_blank" href="{{ shop.url }}">{{ shop.url }}</a></td>
                    <td>{{ shop.requestCount }}</td>
                    <td>{{ shop.requestLimit }}</td>
                    <td>
                        <a href="{{ path('app_shop_view', {shop: shop.id}) }}" style="margin-right: 10px;" class="btn btn-dark">view</a>
                        <a href="{{ path('app_shop_update', {shop: shop.id}) }}" style="margin-right: 10px;" class="btn btn-dark">update</a>
                        <a href="{{ path('app_shop_delete', {shop: shop.id}) }}" class="btn btn-danger">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <div class="alert-danger alert">No Shops are related to your organization yet.<br /><a href="{{ path('app_shop_create') }}">Create the first shop in your organization.</a></div>
        {% endif %}
    </div>
{% endblock %}
