{% extends 'app.html.twig' %}

{% block content %}
    <div class="header mb-5">
        <h1>Create a Shop</h1>
    </div>
    {{ form_start(shopForm) }}
        {{ form_row(shopForm.name) }}
        {{ form_row(shopForm.url) }}
    {{ form_end(shopForm) }}
{% endblock %}