{% extends 'app.html.twig' %}

{% block content %}
    <div class="header mb-5">
        <h1>{{ shop.name }}</h1>
    </div>
    <div class="mb-3">
        Url: <a href="{{ shop.url }}" target="_blank">{{ shop.url }}</a>
    </div>
    <div class="mb-3">
        Used Requests: {{ shop.requestCount }}/{{ shop.requestLimit }}
    </div>
{% endblock %}