.app-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  background: #000000;

  header {
    background: #262338;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
  }

  .sidebar {
    background: #262338;
    min-height: 100vh;
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .content {
    padding: 40px;
    color: #FFFFFF;
    width: calc(100% - 200px);
  }
}

