{% extends 'base.html.twig' %}

{% block body %}

    <div class="app-container">
        <header>Manhattan Project</header>
        <div class="sidebar">
            {% block sidebar %}
                <navigation>
                    <ul>
                        <li><a href="{{ path('app_shop') }}">Shops</a></li>
                        <li><a href="{{ path('app_organization') }}">Organization</a></li>
                    </ul>
                </navigation>
            {% endblock %}
        </div>
        <div class="content">
            {% block content %}
                content
            {% endblock %}
        </div>
    </div>
{% endblock %}