{% extends 'app.html.twig' %}

{% block title %}Hello OrganizationController!{% endblock %}

{% block content %}
    <style>
        table {
            width: 100%;
        }
    </style>
    <div class="header mb-5">
        <h1>{{ name }}</h1>
        <a href="{{ path('app_shop') }}" class="btn btn-primary">Manage shops</a>
        <a href="{{ path('app_organization_update') }}" class="btn btn-primary">Update Organization</a>
    </div>
    <div class="shop-list">
        {% if shops|length > 0 %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Request Count</th>
                    <th>Request Limit</th>
                </tr>
                {% for shop in shops %}
                    <tr>
                        <td>{{ shop.name }}</td>
                        <td><a target="_blank" href="{{ shop.url }}">{{ shop.url }}</a></td>
                        <td>{{ shop.requestCount }}</td>
                        <td>{{ shop.requestLimit }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="alert-danger alert">No Shops are related to your organization yet.<br /><a href="{{ path('app_shop_create') }}">Create the first shop in your organization.</a></div>
        {% endif %}
    </div>
{% endblock %}
