{% extends 'app.html.twig' %}

{% block content %}
    <div class="header mb-5">
        <h1>Update {{ organization.name }}</h1>
    </div>
    {{ form_start(organizationForm) }}
    {{ form_row(organizationForm.name) }}
    {{ form_end(organizationForm) }}
{% endblock %}